
/* App Window */
@define-color bg_color #f9f9f9;
@define-color window_bg @bg_color;
@define-color window_border_color rgba(200,200,200, 0.25);
@define-color top_border_color rgba(200,200,200, 0.95);
@define-color prefs_backgroud #999999;

/* Input */
@define-color selected_bg_color #4285F4;
@define-color selected_fg_color #d5e5ff;
@define-color input_color #222222;
@define-color caret_color #a4a4a4;

/* Result items */
@define-color item_name #787878;
@define-color item_text #999999;
@define-color item_box_selected #fff;
@define-color item_text_selected #222222;
@define-color item_name_selected rgba(22,22,22, 1);
@define-color item_shortcut_color #adadad;
@define-color item_shortcut_shadow #fff;
@define-color item_shortcut_color_sel #222222;
@define-color item_shortcut_shadow_sel rgba(22,22,22, 0);

.app {
    background-color: @window_bg;
    border: 1px solid @window_border_color;;
    border-radius: 25px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin:1 -10;


}

.input {

    color: @input_color;
    padding: 10;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.item-box {
    border-radius: 20px;
    padding: 0;
}

/* Selected text in input */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}

.item-name {
    color: @item_name;
}

.selected.item-box {
    background-color: @item_box_selected;
}
.selected.item-box .item-text {
    color: @item_text_selected;
}
.selected.item-box .item-name {
    color: @item_name_selected;
}
.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: 1px 1px 1px @item_shortcut_shadow;
}
.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.prefs-btn {
    opacity: 50;
}
.prefs-btn * {
    box-shadow: none;
}
.prefs-btn:hover {
    background-color: @prefs_backgroud;
}
.no-window-shadow {
    margin: -20px;
}

.result-box {
    margin: 0px 6px -4px 6px;
}

.item-frame  {
    /*border-top: 1px solid;*/
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0) 6%, rgb(221, 221, 221)  6%, rgba(221, 221, 221, 1) 51%, rgba(221, 221, 221, 1) 94%, rgba(255, 255, 255, 0) 94%, rgba(255, 255, 255, 0) 100%);
}
.item-frame:first-child {
    border-width: 0px;
}
.item-frame:last-child {
    padding-bottom: 10px;
}
